# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R programming
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. pandas
3. Numpy

|Data Science Tools|
|------------------|
|R Studio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200 // 60

#This will convert 200 minutes to hours by diving by 60

3

# **Objectives:**

# List popular languages for Data Science
* Python
* R programming
* Julia
* SQL

### Author
Ramaraju